/*
1.header tag
2. Top navigation
    2.1 language and currency
        2.1.1 sub menu
    2.2 logo
    2.3 user login search
3. main nav 
    3.1 main menu
*/

/* 1.header  tag*/
header {
    background: url(../img/header-bkg.jpg);
    padding: 0 0 20px 0;
}

/* 2.Top navigation */
.top__nav {
    padding: 24px 0;
}

.top__nav .top__nav__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

/* 2.1 language and currency */
.top__nav .top__nav__container .language__and__currency {
    display: flex;
    width: 40%;
}

.language__and__currency ul.language__and__currency__ul {
    display: flex;
    position: relative;
}

ul.language__and__currency__ul>li {
    padding: 0 24px 0 0;
}

/* 2.1.1 sub menu */
.sub__menu {
    display: none;
}

ul.language__and__currency__ul>li:hover .sub__menu {
    display: block;
    position: absolute;
}

/* 2.2 logo */
.top__nav__logo {}

.top__nav__logo>a>img {
    width: 100%;
}

/* 2.3 user login search */
.user__login__search {
    display: flex;
    justify-content: flex-end;

    width: 40%;
}

ul.user__login__search__ul {
    display: flex;
}

ul.user__login__search__ul>li {
    padding: 0 0 0 24px;
}

/* 3. Main nav */
.main__nav {}

nav.main__navigation__nav {}

/* 3.1 main menu */
.main__navigation__nav ul.main__menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

ul.main__menu>li {
    padding: 0 20px;
}

ul.main__menu>li>a {
    text-decoration: none;
    color: black;
}