/*
1. Hero banner
2. Main content 
    2.1 Categories List
    2.2 Product List
3. Customer review
*/

/* 1. Hero banner */
.hero__banner {}

.main__slider {
    width: 100%;
}

.main__slider>img {
    width: 100%;
}

/* 2.Main Content */
.main__content {}

.main__content__container {
    /* display: flex; */
}


/* 2.1.Categories List */
.categories__list__container {
    padding: 20px 0;
}

.categories__list__container ul.categories__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

ul.categories__list>li {
    padding: 4px 20px;
    margin: 0 10px;

    border-radius: 50px;
    border: 2px solid #f1f1f1;
    transition: all .35s;
}

ul.categories__list>li:hover {
    background-color: #7fba00;
}

ul.categories__list>li:hover>a {
    color: white;
}

ul.categories__list>li.active {
    background-color: #7fba00;
}

ul.categories__list>li.active>a {
    color: white;
}

ul.categories__list>li>a {
    text-decoration: none;
    color: black;
}

/* 2.2 Product List */
.product__list {}

.product__list__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    margin: 0 -8px;
}

.product__list__container .product__item {
    width: 25%;
    padding: 0 8px;
    margin: 20px 0;
    cursor: pointer;
    /* border: 2px solid #f1f1f1; */
    /* border-radius: 50px; */
}

.product__item>.product__item__image>img {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.product__item__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}



ul.star__rank {
    display: flex;
    justify-content: center;
}

ul.star__rank>li {
    color: yellow;
}

.add__to__cart__btn {
    display: none;
    text-transform: uppercase;
    text-decoration: none;
}

/* 3. Customer review */
.customer__review {
    padding: 48px 0;
}

.customer__review__container {}

.customer__review__container .customer__review__title {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.review__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 -16px;
    padding: 56px 0;
}

.review__container .review__description {
    width: 50%;
    padding: 0 16px;
    position: relative;
}

.review__top {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    /* background-color: aquamarine; */
}

.review__top__image {
    width: 30%;
    padding: 0 16px;
}

.review__top__image>img {
    width: 89%;
    border-radius: 20px;
}

.customer__name {}

.customer__position {
    color: #7fba00;
}

.review__top__title {
    width: 70%;
}

.review__bottom {
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1;
    padding: 16px 0;
    margin: 58px 0 0 0;
    border-radius: 12px;
}

.review__bottom__icon {
    width: 30%;
    padding: 64px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.review__bottom__icon>img {
    width: 25%;
}

.review__bottom .review__bottom__description {
    width: 68%;
}