/* 
1.Global css
2. container
3. scroll to top button
*/

/* 1. global css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  font-family: "Titillium Web", sans-serif;
}

ul {
  list-style-type: none;
}

/* 2. container */
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/* 3. scroll to top button */
.scroll__to__top {
  position: fixed;
  right: 16px;
  bottom: 16px;
}

.scroll__to__top .scroll__to__top__btn {
  padding: 4px 12px;
  cursor: pointer;
  border-radius: 50%;
  color: white;
  opacity: 0;
  background-color: #7fba00;
}
